---
const { title, details } = Astro.props;
// console.log(details, "DETAIOL");
// details.map((item) => item.map((item) => console.log(item)));
---

<section>
  <div
    class="flex flex-col items-start justify-between dark:text-light sm:flex-row"
  >
    <h2 class="mt-4 w-[15rem]">{title}</h2>
    <div class="w-full">
      {
        details.map((item) => (
          <div class="my-4">
            <div class="flex flex-wrap items-start justify-between">
              <div>
                <h3 class="text-xl font-semibold">{item.title}</h3>
                <h3 class="text-xl font-semibold">{item.name}</h3>
              </div>
              <div>
                <p class="dark:text-light mt-[0.3125rem] text-sm">
                  {item.startDate} – {item.endDate}
                </p>
                <p class="dark:text-light mt-3 text-sm">{item.location}</p>
              </div>
            </div>
            <ul class="mt-3 ml-6 xl:ml-0">
              {item.description.map((point, idx) => {
                return (
                  <li
                    class={`dark:text-light mb-2 list-disc ${idx === item.description.length - 1 && title === "Experience" ? "underline" : ""}`}
                  >
                    <div>{point}</div>
                  </li>
                );
              })}
            </ul>
          </div>
          // <hr class="w-1/4 items-center" />
        ))
      }
    </div>
  </div>
</section>
